/* General Style */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: radial-gradient(circle 588px at 31.7% 40.2%, rgba(225, 200, 239, 1) 21.4%, rgba(163, 225, 233, 1) 57.1%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* grid Container */
.gridContainer {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "header header header"
        "menu menu menu"
        "article1 article1 aside"
        "article2 article2 aside"
        "images images aside"
        "footer footer footer";
    grid-template-columns: 75% auto;
    grid-template-rows: 8% 8% 20% 20% auto 5%;
    gap: 1px;
}

/* Fin grid Container */


/* Grid containers */
.Header {
    background-image: linear-gradient( 109.6deg,  rgba(15,2,2,1) 11.2%, rgba(36,163,190,1) 91.1% );
    color: rgb(170, 127, 175);
    border: black solid 1px;
    grid-area: header;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header h1 a{
    text-decoration: none;
}

.Menu {
    background-image: linear-gradient( 109.6deg,  rgba(24,138,141,1) 11.2%, rgba(96,221,142,1) 91.1% );
    border: black solid 1px;
    grid-area: menu;
    display: flex;
    align-items: center;
}

.Menu ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.Menu ul li a {
    background-color: rgb(185, 120, 180);
    text-decoration: none;
    color: gainsboro;
    padding: 5px;
    border: rgb(214, 160, 187) solid 2px;
    display: flex;
}

.Menu ul li a:hover {
    background-color: khaki;
    color: mediumslateblue;
    padding: 5px;
    border: forestgreen solid 2px;
}

.container1 {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );
    border: black solid 1px;
    font-family: monospace;
    color: cornsilk;
    grid-area: article1;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container2 {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(147,230,241,1) 0%, rgba(145,192,241,1) 45.5% );
    border: black solid 1px;
    font-family: monospace;
    color: rgba(31, 25, 63, 0.788);
    grid-area: article2;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.asideContainer {
    background-image: linear-gradient( 180.5deg,  rgba(46,255,171,1) 12.3%, rgba(252,251,222,0.46) 92% );
    color: rgb(92, 81, 81);
    border: rgb(138, 110, 131) solid 1px;
    font-family: monospace;
    grid-area: aside;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.imgContainer {
    /* background: #d9c3e4de ;   */
    background: rgba(124, 104, 238, 0.1);
    border: rgba(124, 104, 238, 0.993) solid 1px;
    grid-area: images;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.imgContainer img {
    width: 30%;
    display: flex;
    padding: 5px;
}

.footer {
    background-image: linear-gradient( 99deg,  rgba(115,18,81,1) 10.6%, rgba(28,28,28,1) 118% );
    color:thistle;
    border: black solid 1px;
    grid-area: footer;
    padding: 5px;
    display: flex;
    justify-content: end;
}

/* fin grid containers */

/* GRID CONTAINER */

.gridContainer1{
    display: grid;
    height: 100vh;
    grid-template-areas: "header header"
    "menu menu"
    "section1 aside1"
    "section2 aside1"
    "section3 aside1"
    "section4 section4"
    "footer footer" ;
    grid-template-columns: 70% auto;
    grid-template-rows: 8% 8% auto auto 20% 25% 5%;

}

/* GRID ITEMS */

.section1 {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );
    border: black solid 1px;
    font-family: monospace;
    color: cornsilk;
    grid-area: section1;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.section2 {
    background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
    border: black solid 1px;
    font-family: monospace;
    color: cornsilk;
    grid-area: section2;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.section3 {
    background-image: linear-gradient( 109.6deg,  rgba(45,116,213,1) 11.2%, rgba(121,137,212,1) 91.2% );
    border: black solid 1px;
    font-family: monospace;
    color: cornsilk;
    grid-area: section3;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.section4 {
    background-image: linear-gradient( 132.6deg,  rgba(71,139,214,1) 23.3%, rgba(37,216,211,1) 84.7% );
    font-family: monospace;
    color: cornsilk;
    grid-area: section4;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.aside1 {
    background-image: linear-gradient( 180.4deg,  rgba(188,120,236,1) -2.2%, rgba(29,133,163,1) 83.5% );
    border: black solid 1px;
    font-family: monospace;
    color: cornsilk;
    grid-area: aside1;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
